html, body{
	height:100%;
}

body {
	background:url('../img/cartoonsky.jpg') no-repeat center center fixed;
	background-size: cover;
	font-family: 'Ubuntu', 'Calibri', sans-serif;
}

#loading-spinner {
 	position: fixed;
 	height: 100%;
 	width: 100%;
 	z-index: 9999;
    top:0;
    left:0;
    margin: auto;
    background: #FFFFFF;
}

#loading-spinner-image {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
}

.center {
	text-align:center;
}

.vpadding {
	margin-top:5%;
}

.vpadding2 {
	margin-top:20%;
}

.fullheight{
	height:100%;
}

.fancy-font {
	font-family: 'Courgette';
}

h1 {
	font-size:500%;
}

h3 {
	background-color: rgb(73, 155, 228, .5);
}

#footer {
  bottom: 0;
  width: 100%;
  height: 230px;
  background-color: #fff;
 margin-bottom:0;
 border-top:solid 1px #a8a8a8;
}

.margin-none {
	margin-bottom:0;
	margin-top:0;
}

.col-xs-2 img {
    opacity:0.5;
}

.col-xs-2 img:hover {
    opacity:1;
	-webkit-transition: opacity .2s;
	-moz-transition: opacity .2s;
	-ms-transition: opacity .2s;
	-o-transition: opacity .2s;
	transition: opacity .2s;
}

.col-md-6 p a {
	color:#910202;
}

.col-md-6 p a:hover {
	color:#760707;
}

h1 a{
	color:#910202;
}

h1 a:hover{
	color:#760707;
	text-decoration: none;
	-webkit-transition: color .2s;
	-moz-transition: color .2s;
	-ms-transition: color .2s;
	-o-transition: color .2s;
	transition: color .2s;
}
